body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgb(75, 182, 248);
  padding-left: 30px;
  display: grid;
  grid-template-rows: 100px 400px 250px;
  gap: 40px;
}

.header {
  background-color: rgb(255, 255, 255);
}

.main-section {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(237, 240, 250);
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.399);
}

.sidebar p{
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

a {
text-decoration: none;
}

.dashboard-header,
.nav-element,
.preference {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.dashboard-header svg{
  width: 50px;
  align-self: center

}

.dashboard-header p{
  color: white;
  font-size: 30px;
  align-self: center;
}
  
.nav-container svg {
  width: 30px;
  align-self: center;
}

.nav-container p{
  color: white;
}

.preferences svg{
  width: 30px;
  align-self: center;
 
}

.preferences p{
  color: white;
}